html {
}

header {
    display: flex;
    justify-content: space-between;
    text-align: justify;
    letter-spacing: 1px;
    background: #2c3e50;
    color: #fff;
}

body {
    margin: 0;
    padding: 0;
    background-color: gray;
}

img {
    margin: 10px;
	height: 30px;
	width: auto;
}

h2 {
    padding: 5px;
    justify-content: center;
    font-size: 15px;
    color: black;
}

.logo {
	justify-content: left;
	width: 50px;
	 background-color: rgb(244, 130, 34);
}

.search {
    justify-content: center;
	background-color: white;
}

.login {
    justify-content: right;
	background-color: white;
}

.button {
    display: inline-block;
    position: relative;
    margin: 10px;
    padding: 0 20px;
    text-align: center;
    text-decoration: none;
    font: bold 12px/25px Arial, sans-serif;
 
    text-shadow: 1px 1px 1px rgba(255,255,255, .22);
 
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
 
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
    box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
 
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    -ms-transition: all 0.15s ease;
    transition: all 0.15s ease;
}

a.search {
    display: none;
}

a.login {
}