@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500&display=swap");

html {
}

section {
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
    background-color: gray;
    font-family: 'Red Hat Display', sans-serif;
}

img {
    margin-left: 0;
    height: 40px;
    width: auto;
    border-radius: 5px;
}

table {
    border-collapse: collapse;
}
  
td {
    border: 2px solid #333;
    height: 100px;
    width: 100px;
    color: white;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    cursor: pointer;
}

a {
    font-size: large;
    font-weight: 500;
}

h2 {
    font-size: small;
    font-weight: 600;
    padding: 14px 16px;
}

.year-month {
    background-color: whitesmoke;
    text-align: center;
}

.container {
    justify-content: center;
    display: flex;
    background-color: silver;
    left: 25%;
}

.topnav {
    padding: 0px;
    justify-content: left;
    overflow: hidden;
    background: linear-gradient(to left, #485fed, rgba(255, 44, 118, .25)), #485fed;
    position: relative;
    z-index: 1;
}
  
.topnav #myLinks {
    display: none;
}
  
.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 100;
    display: block;
}
  
.topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}
  
.active a:hover {
    background-color: silver;
    color: black;
}

.topnav a.icon:hover {
    background-color: silver;
    color: black;
}

.active {
    background: linear-gradient(to left, #485fed, rgba(255, 44, 118, .25)), #485fed;
    color: white;
}

